# Dependencies
node_modules/

# Build outputs
dist/
build/
coverage/
.out/

# Environment variables
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.idea/
.vscode/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
*.log

# Documentation/Markdown files
*.md

